<h1><%= @board.name %> - <%= @song.name %></h1>
<p>Artist: <%= @song.artist.name %></p>
<%= link_to 'Add Artist', new_song_artist_path(@song)%>
<p>Played <%= @song.plays %> times</p>
<%= link_to 'Edit Song', edit_board_song_path([@board, @song]) %>
<%= button_to 'Delete Song', [@board, @song], method: :delete %>
<%= link_to 'Back To Billboard', boards_path(@board) %>
