<h1><%= @board.id ? 'Edit Billboards' : 'Create Billboard' %></h1>
<%= form_for @board do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>