<h1>Create an Entry</h1>
<%= form_for @board do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :artist %>
  <%= f.text_field :artist %>

  <%= f.label :body %>
  <%= f.text_area :body%>

  <%= f.submit %>
<% end %>




